- content_for :bottom_javascripts do
  = javascript_include_tag 'chosen.jquery.min', :questions

= simple_form_for @question, html: { role: 'form' } do |f|
  .form-group
    = f.input :question_text, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full'}, rows: 20 }, error_html: { class: 'label label-danger' }, required: false

  .form-group
    .input-group class="#{ set_choice(f.object.correct_answer, 'a') }"
      span.input-group-addon
        b A
      = f.input_field :choice_a, class: 'form-control input-lg choice-field'

  .form-group
    .input-group class="#{ set_choice(f.object.correct_answer, 'b') }"
      span.input-group-addon
        b B
      = f.input_field :choice_b, class: 'form-control input-lg choice-field'

  .form-group
    .input-group class="#{ set_choice(f.object.correct_answer, 'c') }"
      span.input-group-addon
        b C
      = f.input_field :choice_c, class: 'form-control input-lg choice-field'

  .form-group
    .input-group class="#{ set_choice(f.object.correct_answer, 'd') }"
      span.input-group-addon
        b D
      = f.input_field :choice_d, class: 'form-control input-lg choice-field'

  .form-group
    .input-group class="#{ set_choice(f.object.correct_answer, 'e') }"
      span.input-group-addon
        b E
      = f.input_field :choice_e, class: 'form-control input-lg choice-field', placeholder: 'Leave blank if you want to have four choices only'

  .form-group.hide
    = f.input :correct_answer, as: :radio_buttons, collection: ["A", "B", "C", "D", "E"], required: false

  .form-group
    label Correct answer: &nbsp;
    h3 style="margin-top: 5px;"
      #correct-answer-label.label.label-success
        - if f.object.correct_answer.blank?
          | Choose one above
        - else
          = f.object.correct_answer_text

  .form-group
    = f.input :school_grade_id, as: :select, collection: SchoolGrade.get_collection, input_html: { class: 'form-control selectpicker', data: { placeholder: '- Select grade -' } }, error_html: { class: 'label label-danger' }, required: false

  .form-group
    - if f.object.school_grade_id
      = f.input :subject_id, as: :select, collection: Subject.collection_by_grade_id(f.object.school_grade_id), input_html: { class: 'form-control selectpicker', data: { placeholder: '- Select subject -' } }, error_html: { class: 'label label-danger' }, required: false
    - else
      = f.input :subject_id, as: :select, collection: [], input_html: { class: 'form-control selectpicker', data: { placeholder: '- Select grade first -' }, disabled: true }, error_html: { class: 'label label-danger' }, required: false

  .form-group
    = f.input :difficulty_level, as: :select, collection: ["Easy", "Medium", "Hard"], input_html: { class: 'form-control selectpicker', data: { placeholder: '- Select difficulty -' } }, error_html: { class: 'label label-danger' }, required: false

  .form-group
    label Duration (HH:MM:SS)
    = f.input :duration, label: false, input_html: { class: 'input-lg' }, include_seconds: true, default: { hour: 0, minute: 0, second: 0 }, error: false
    - if f.error :duration
      .label.label-danger = f.error :duration 

  .form-group
    label Scope
    br
    .btn-group
      button type="button" data-is-public="true" class="btn btn-primary btn-scope #{'active' if f.object.is_public}" Public
      button type="button" data-is-public="false" class="btn btn-primary btn-scope #{'active' unless f.object.is_public}" Private
    = f.input :is_public, as: :radio_buttons, label: 'Scope', collection: [['public', true], ['private', false]], wrapper_html: { class: 'hide' }, required: false

  .form-group
    = f.submit "Save question", class: 'btn btn-info btn-lg'
