.container
  .panel.panel-default.panel-with-margin
    .panel-heading
      h2 
        span.glyphicon.glyphicon-question-sign &nbsp;
        | Questions

    .panel-body
      - if @questions.empty?
        .alert.alert-warning role='warning'
          strong Oops! &nbsp;
          | you haven't created any questions right now,&nbsp;
          = link_to 'create a new one', new_question_path
      - else
        - @questions.each do |question|
          .panel.panel-primary
            .panel-heading
              h4 
                | Question ##{question.id}
            .panel-body
              .col-lg-10
                blockquote
                  strong Question:
                  p = truncate(question.question_text.html_safe, length: 240, omission: "... #{link_to 'more', question}", escape: false)
                  strong Correct answer:
                  h4
                    .label.label-success = question.correct_answer_text
              .col-lg-2
                .form-group
                  = link_to question, class: 'btn btn-info form-control' do
                    span.glyphicon.glyphicon-eye-open &nbsp;
                    | Show
                .form-group
                  = link_to edit_question_path(question), class: 'btn btn-primary form-control' do
                    span.glyphicon.glyphicon-edit &nbsp;
                    | Edit
                .form-group                
                  = link_to question, data: { :confirm => 'Are you sure?' }, :method => :delete, class: 'btn btn-danger form-control' do
                    span.glyphicon.glyphicon-remove &nbsp;
                    | Delete

        = link_to new_question_path, class: 'btn btn-default btn-lg' do
          span.glyphicon.glyphicon-plus &nbsp;
          | Add new