.container
  .panel.panel-default.panel-with-margin
    .panel-heading
      h3 
        | Question ##{@question.id}
    .panel-body
      .panel.panel-info
        .panel-body
          p = @question.question_text.html_safe

      - ('a'..'e').each do |char|
        - unless eval("@question.choice_#{char}").blank?
          .form-group
            .input-group class="#{ 'has-success' if @question.correct_answer.downcase.eql?(char) }"
              span.input-group-addon
                b = char.upcase
              .form-control.input-lg = eval("@question.choice_#{char}")

      .form-group
        label CORRECT ANSWER
        h3 style="margin-top: 5px;"
          .label.label-success
            = @question.correct_answer_text

      .form-group
        label SCHOOL GRADE
        p = @question.school_grade.name

      .form-group
        label SUBJECT
        p = @question.subject.name

      .form-group
        label DIFFICULTY
        = set_difficulty_label(@question.difficulty_level)

      .form-group
        label DURATION
        p 
          = @question.formatted_duration
          | &nbsp; / 
          = pluralize(@question.duration_in_seconds, 'second')

      .form-group
        label SCOPE
        br
        .btn-group
          button type="button" data-is-public="true" class="btn btn-info btn-scope #{'active' if @question.is_public}" Public
          button type="button" data-is-public="false" class="btn btn-info btn-scope #{'active' unless @question.is_public}" Private

      hr

      = link_to edit_question_path(@question), class: 'btn btn-primary btn-lg' do
        span
          i.glyphicon.glyphicon-edit
        | &nbsp;
        | Edit

      | &nbsp;

      = link_to questions_path, class: 'btn btn-primary btn-lg' do
        span
          i.glyphicon.glyphicon-list
        | &nbsp;
        | Back