.container
  p 
    blockquote
      h2 Dashboard
      p 
        | Welcome #{current_user.role}

  #map style="width: 100%; height: 500px; margin-bottom: 20px"

- content_for :bottom_javascripts do
  = javascript_include_tag :dashboard