.container
  .panel.panel-info.panel-with-margin
    .panel-heading
      h4 
        span.glyphicon.glyphicon-user &nbsp;
        | Sign up
    .panel-body
      = simple_form_for resource, as: resource_name, url: registration_path(resource_name), role: 'form' do |f|
        .form-group
          = f.input :email, as: :email, autofocus: true, input_html: { class: 'form-control input-lg' }, error_html: { class: 'label label-danger' } 

        .form-group
          = f.input :role, as: :select, collection: ["contributor", "player"], required: false, prompt: '- Select role -', input_html: { class: 'form-control input-lg' }, error_html: { class: 'label label-danger' }

        .form-group
          = f.input :password, as: :password, autocomplete: "off", input_html: { class: 'form-control input-lg' }, error_html: { class: 'label label-danger' }

        .form-group
          = f.input :password_confirmation, as: :password, autocomplete: "off", input_html: { class: 'form-control input-lg' }

        .form-group
          = f.submit "Sign up", class: 'btn btn-info btn-lg'

      = render "devise/shared/links"
