- content_for :top_javascripts do
  = javascript_include_tag :holder, 'data-turbolinks-track' => true
end

.container
  .panel.panel-info.panel-with-margin
    .panel-heading
      h4 
        span.glyphicon.glyphicon-user &nbsp;
        | Profile Information
    .panel-body
      .container
        .row
            .col-sm-2.col-md-2
              img data-src="holder.js/100%x200" alt="..." class="img-rounded img-responsive"

            .col-sm-4.col-md-4
              blockquote
                p 
                  Bruce = current_user.email
                small
                  cite title="Source Title" 
                    | Bandung, West Java, Indonesia <i class="glyphicon glyphicon-map-marker"></i>

              p 
                | <i class="glyphicon glyphicon-user"></i> #{current_user.role}
                | <br/><i class="glyphicon glyphicon-envelope"></i> #{current_user.email}
                | <br/><i class="glyphicon glyphicon-calendar"></i> #{current_user.created_at.to_formatted_s(:long).downcase}