- content_for :bottom_javascripts do
  = javascript_include_tag :home

#wrapper
  #map.game-maps
  #website-info
    #title
      | Smart Adventurer
    #subtitle 
      | The first outdoor education games platform 
    br
    = link_to '#', class: 'btn btn-dark btn-lg' do
      | Learn more &nbsp;
      span.glyphicon.glyphicon-chevron-right
#content
  .container
    .row.visible-xs.hidden-sm.hidden-md.hidden-lg.text-center
      .col-xs-4
        = link_to '#' do
          = image_tag 'treasure-hunt-cropped.jpg', class: 'img-responsive img-circle img-center img-shadow'
        b Be an Adventurer
        p Find and collect as many items, and answer as many questions which you found along your journey and be the smartest adventurer in the world
        p = link_to '#', class: 'btn btn-primary btn-xs' do
          | Register now &nbsp;
          span.glyphicon.glyphicon-chevron-right
      .col-xs-4
        = link_to '#' do
            = image_tag 'treasure-hunt-cropped.jpg', class: 'img-responsive img-circle img-center img-shadow'
        b Custom Map
        p If you are teacher or trainer, you can even create a custom map game for your student in specific area with predefined route and objective
        p = link_to '#', class: 'btn btn-primary btn-xs' do
          | Create now &nbsp;
          span.glyphicon.glyphicon-chevron-right
      .col-xs-4
        = link_to '#' do
          = image_tag 'android-icon.png', class: 'img-responsive img-circle img-center img-shadow'
        b Android App
        p Get the mobile app and start your journey now. Follow the treasure map in your mobile app to collect all items and answer as many questions.
        p = link_to '#', class: 'btn btn-primary btn-xs' do
          | Get the app &nbsp;
          span.glyphicon.glyphicon-chevron-right

    .row.visible-sm.hidden-xs.hidden-md.hidden-lg.text-center
      .col-sm-4
        = link_to '#' do
          = image_tag 'treasure-hunt-cropped.jpg', class: 'img-responsive img-circle img-center img-shadow'
        h4 Be an Adventurer
        p Find and collect as many items, and answer as many questions you found along your journey and be the smartest adventurer in the world        
        p = link_to '#', class: 'btn btn-primary btn-sm' do
          | Register now &nbsp;
          span.glyphicon.glyphicon-chevron-right
      .col-sm-4
        = link_to '#' do
            = image_tag 'treasure-hunt-cropped.jpg', class: 'img-responsive img-circle img-center img-shadow'
        h4 Custom Map
        p If you are teacher or trainer, you can even create a custom map game for your student in specific area with predefined route and objective
        p = link_to '#', class: 'btn btn-primary btn-sm' do
          | Create now &nbsp;
          span.glyphicon.glyphicon-chevron-right
      .col-sm-4
        = link_to '#' do
          = image_tag 'android-icon.png', class: 'img-responsive img-circle img-center img-shadow'
        h4 Android App
        p Get the mobile app and start your journey now. Follow the treasure map in your mobile app to collect all items and answer as many questions.
        p = link_to '#', class: 'btn btn-primary btn-sm' do
          | Get the app &nbsp;
          span.glyphicon.glyphicon-chevron-right

    .row.visible-md.hidden-xs.hidden-sm.hidden-lg.text-center
      .col-md-4
        = link_to '#' do
          = image_tag 'treasure-hunt-cropped.jpg', class: 'img-responsive img-circle img-center img-shadow'
        h3 Be an Adventurer
        p Find and collect as many items, and answer as many questions you found along your journey and be the smartest adventurer in the world        
        p = link_to '#', class: 'btn btn-primary btn-md' do
          | Register now &nbsp;
          span.glyphicon.glyphicon-chevron-right
      .col-md-4
        = link_to '#' do
            = image_tag 'treasure-hunt-cropped.jpg', class: 'img-responsive img-circle img-center img-shadow'
        h3 Custom Map
        p If you are teacher or trainer, you can even create a custom map game for your student in specific area with predefined route and objective
        p = link_to '#', class: 'btn btn-primary btn-md' do
          | Create now &nbsp;
          span.glyphicon.glyphicon-chevron-right
      .col-md-4
        = link_to '#' do
          = image_tag 'android-icon.png', class: 'img-responsive img-circle img-center img-shadow'
        h3 Android App
        p Get the mobile app and start your journey now. Follow the treasure map in your mobile app to collect all items and answer as many questions.
        p = link_to '#', class: 'btn btn-primary btn-md' do
          | Get the app &nbsp;
          span.glyphicon.glyphicon-chevron-right

    .row.visible-lg.hidden-xs.hidden-sm.hidden-md.text-center
      .col-lg-4
        = link_to '#' do
          = image_tag 'adventurer-icon.jpg', class: 'img-responsive img-circle img-center img-shadow'
        h2 Be an Adventurer
        p Find and collect as many items, and answer as many questions you found along your journey and be the smartest adventurer in the world        
        p = link_to '#', class: 'btn btn-primary btn-lg' do
          | Register now &nbsp;
          span.glyphicon.glyphicon-chevron-right
      .col-lg-4
        = link_to '#' do
            = image_tag 'treasure-map.png', class: 'img-responsive img-circle img-center img-shadow'
        h2 Custom Map
        p If you are teacher or trainer, you can even create a custom map game for your student in specific area with predefined route and objective
        p = link_to '#', class: 'btn btn-primary btn-lg' do
          | Create now &nbsp;
          span.glyphicon.glyphicon-chevron-right
      .col-lg-4
        = link_to '#' do
          = image_tag 'android-icon.png', class: 'img-responsive img-circle img-center img-shadow'
        h2 Android App
        p Get the mobile app and start your journey now. Follow the treasure map in your mobile app to collect all items and answer as many questions.
        p = link_to '#', class: 'btn btn-primary btn-lg' do
          | Get the app &nbsp;
          span.glyphicon.glyphicon-chevron-right

#footer.container-fluid
  p
    b.developer-name 
      | Developed by Dian Septiana <br>
    | copyright &copy; 2014