- content_for :bottom_javascripts do
  = javascript_include_tag :games

= simple_form_for @game, html: { id: 'new-marker', role: 'form' } do |f|
  .form-group
    = f.input :name, input_html: { class: 'form-control input-lg' }, error_html: { class: 'label label-danger' }, required: false

  .form-group
    = f.input :address, input_html: { class: 'form-control input-lg', readonly: true }, error_html: { class: 'label label-danger' }, required: false

  .form-group
    = f.input :game_type, as: :select, collection: ["follow the route", "free running"], input_html: { class: 'form-control input-lg' }, prompt: '- Select type -', error_html: { class: 'label label-danger' }, required: false

  .form-group
    = f.input :use_password, as: :boolean, label: "&nbsp; use password".html_safe, required: false

  .password-container class="#{ 'hide' unless f.object.use_password }"
    .form-group
      = f.input :password, as: :password, input_html: { class: 'form-control input-lg' }, error_html: { class: 'label label-danger' }, placeholder: "#{f.object.new_record? ? 'Enter password' : 'Enter new password'}", required: false

    .form-group
      = f.input :password_confirmation, as: :password, input_html: { class: 'form-control input-lg' }, error_html: { class: 'label label-danger' }, placeholder: "#{f.object.new_record? ? 'Confirm password' : 'Confirm new password'}", required: false

  .form-group
    #map.game-maps
    - if f.error :markers
      .alert.alert-danger
        p 
          strong 
            | Warning! &nbsp;
          = f.error :markers
  .hide
    h3 markers
    #markers
      = f.simple_fields_for :markers do |marker|
        = render 'marker_fields', :f => marker
      .links
        = link_to_add_association 'add task', f, :markers

  .form-group
    = f.submit "Save game", class: 'btn btn-info btn-lg'

#infowindow-content.hide
  .infowindow-content-container id="infowindow-{{marker-field-id}}"
    .panel.panel-default style="background: #fff; width: 300px"
      .panel-heading
        h3.panel-title
          | {{title}}
      .panel-body
        p.marker-description 
          | this marker indicating location of a {{type}}
        p
          .form-group
            = simple_form_for :edit_marker, html: { id: 'editMarkerForm', role: 'form' } do |f|
              = f.input :marker_type, collection: marker_type_collection(f.object), prompt: '- Select type -', input_html: { class: 'existing-marker-marker-type form-control input' }, label: false
          = link_to 'Save', 'javascript:void(0);', class: 'btn-save-marker btn btn-info'
          | &nbsp;
          = link_to 'Remove', 'javascript:void(0);', class: 'btn-remove-marker btn btn-danger'

#marker-modal.modal
  .modal-dialog
    .modal-content
      .modal-header
        h4.modal-title New Marker Dialog
      .modal-body
        = simple_form_for :new_marker, html: { id: 'newMarkerForm', role: 'form' } do |f|
          .form-group
            = f.input :marker_type, collection: marker_type_collection(f.object), prompt: '- Select type -', input_html: { class: 'marker-field form-control input-md', data: { marker_field_id: "" } }
          .form-group
            = f.input :use_address, label: 'use address manually', input_html: { class: 'marker-field' }, as: :boolean, wrapper: :checkbox, data: { marker_field_id: "" }
          .form-group#address-container.hide
            = f.input :address, input_html: { class: 'marker-field form-control input-md skip-validate', data: { marker_field_id: "" } }
          .hide
            .form-group
              = f.input :address_latitude, input_html: { class: 'marker-field form-control input-md skip-validate', data: { marker_field_id: "" } }
            .form-group
              = f.input :address_longitude, input_html: { class: 'marker-field form-control input-md skip-validate', data: { marker_field_id: "" } }
            .form-group
              = f.input :latitude, input_html: { class: 'marker-field form-control input-md', data: { marker_field_id: "" } }
            .form-group
              = f.input :longitude, input_html: { class: 'marker-field form-control input-md', data: { marker_field_id: "" } }
          .form-group
            = f.submit "Put marker", id: 'btn-put-marker', class: 'btn btn-info btn-lg btn-block', data: { marker_field_id: "" }
            = link_to "Cancel", "javascript:void(0);", id: "btn-cancel", class: 'btn btn-danger btn-lg btn-block', data: { marker_field_id: "" }

      .modal-footer
        | &nbsp;