.marker-fields.nested-fields.col-lg-12
  .col-lg-2
    = f.input :marker_type, input_html: { class: 'form-control input-sm marker-type' }
  .col-lg-2
    = f.input :latitude, input_html: { class: 'form-control input-sm' }
  .col-lg-2
    = f.input :longitude, input_html: { class: 'form-control input-sm' }
  .col-lg-2
    = link_to_remove_association "remove marker", f