- content_for :bottom_javascripts do
  = javascript_include_tag :games

.container
  .panel.panel-default.panel-with-margin
    .panel-heading
      h2 
        span.glyphicon.glyphicon-globe &nbsp;
        | Games
    .panel-body
      - if @question_count.zero?
        .alert.alert-warning role='warning'
          strong Oops! &nbsp;
          | you haven't created any questions right now, please create question before create a game.&nbsp;
          = link_to 'create a new one', new_question_path
      - else
        - if @games.empty?
          .alert.alert-warning role='warning'
            strong Oops! &nbsp;
            | you haven't created any games right now,&nbsp;
            = link_to 'create a new one', new_game_path
        - else
          - @games.each do |game|
            .panel.panel-primary
              .panel-heading 
                h3 = game.name
              .panel-body
                table.table
                  tr
                    td width="100"
                      b PIN
                    td = game.pin
                  tr
                    td
                      b AREA
                    td = ['Near', game.address].join(' ')
                  tr
                    td 
                      b TYPE
                    td = game.game_type.upcase
                  tr
                    td
                      b PASSWORD
                    td
                      - if game.use_password?
                        .label.label-success YES
                      - else
                        .label.label-default NO

                = content_tag "div", "", id: "marker-data-#{game.id}", class: "marker-data", data: { marker_data: game.markers }

                .map-container style="position: relative"
                  = content_tag "div", "", id: "map-#{game.id}", class: "game-maps"
                  .buttons-container.col-lg-6 style="position: absolute; bottom: 20px; right: 0px;"
                    .col-lg-4 
                      = link_to game, class: 'btn btn-info form-control' do
                        span.glyphicon.glyphicon-eye-open &nbsp;
                        | Show
                    .col-lg-4 
                      = link_to edit_game_path(game), class: 'btn btn-primary form-control' do
                        span.glyphicon.glyphicon-edit &nbsp;
                        | Edit
                    .col-lg-4 
                      = link_to game, data: { :confirm => 'Are you sure?' }, method: :delete, class: 'btn btn-danger form-control' do
                        span.glyphicon.glyphicon-remove &nbsp;
                        | Delete

          = link_to new_game_path, class: 'btn btn-default btn-lg' do
            span.glyphicon.glyphicon-plus &nbsp;
            | Add new
