- content_for :bottom_javascripts do
  = javascript_include_tag :games

.container
  .panel.panel-info.panel-with-margin
    .panel-heading
      h3 = @game.name
    .panel-body
      form role="form"
        .form-group
          blockquote
            p = @game.name
            footer NAME

        .form-group
          blockquote
            p = @game.pin
            footer PIN

        .form-group
          blockquote
            p = ['Near', @game.address].join(' ')
            footer AREA

        .form-group
          blockquote
            p = @game.game_type
            footer GAME TYPE

        .form-group
          blockquote
            p
              - if @game.use_password?
                .label.label-success YES
              - else
                .label.label-default NO
            footer USE PASSWORD

        br

        .form-group
          = content_tag "div", "", id: "marker-data-#{@game.id}", class: "marker-data", data: { marker_data: @game.markers }
          .map-container
            = content_tag "div", "", id: "map-#{@game.id}", class: "game-maps"

        .form-group
          = link_to edit_game_path(@game), class: 'btn btn-primary btn-lg' do
            span
              i.glyphicon.glyphicon-edit
            | &nbsp;
            | Edit
          | &nbsp;
          = link_to games_path, class: 'btn btn-primary btn-lg' do
            span
              i.glyphicon.glyphicon-list
            | &nbsp;
            | Back

