= form_for @subject do |f|
  - if @subject.errors.any?
    #error_explanation
      h2 = "#{pluralize(@subject.errors.count, "error")} prohibited this subject from being saved:"
      ul
        - @subject.errors.full_messages.each do |message|
          li = message

  .actions = f.submit 'Save'
