.container
  .panel.panel-success.panel-with-margin
    .panel-heading
      h4 
        span.glyphicon.glyphicon-log-in &nbsp;
        | Sign in
    .panel-body
      = form_for(resource, as: resource_name, url: session_path(resource_name), role: 'form') do |f|
        = devise_error_messages!

        .form-group 
          = f.label :email
          br
          = f.email_field :email, autofocus: true, class: 'form-control input-lg'

        .form-group
          = f.label :password
          br
          = f.password_field :password, autocomplete: "off", class: 'form-control input-lg'

        .form-group
          = f.submit "Sign in", class: 'btn btn-success btn-lg'

      = render "devise/shared/links"
