/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require twitter/bootstrap
 *= require nprogress
 *= require nprogress-bootstrap
 *= require gritter
 *= require fonts
 *= require_self
 *= require_tree .
*/

/* Overriding */

#top-bar{
  margin-bottom: 0;
}

.navbar-default ul li.divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-left: 1px solid #F2F2F2;
  border-right: 1px solid #FFF;
}

.navbar-inverse ul li.divider-vertical {
  height: 50px;
  margin: 0 9px;
  border-left: 1px solid #222222;
  border-right: 1px solid #000;
}

/* Custom style */

.navbar-title{
  font-family: 'adventure';
  color: #FF9900 !important;
}

.navbar-title:hover{
  color: #ffac30 !important;
}

#wrapper{
  position: relative;
}

.game-maps{
  width: 100%;
  height: 500px;
  border-bottom: 1px solid #e2e2e2;
  position: relative;
}

#website-info{
  position: absolute;
  bottom: 40px;
  right: 48px;
  text-align: right;
}

#website-info #title{
  font-size: 48px;
  font-weight: bold;
  font-family: 'adventure';
  line-height: 1em;
  color: #FFAC30;
  text-shadow: 0 0 5px #000;
}

#website-info #subtitle{
  color: #222222;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
}

.btn-dark{
  background-color: #222222;
  color: #a4a4a4 !important;
}

.btn-dark:hover{
  color: #fff !important;
}

#content{
  padding: 60px 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  background: url('/assets/map-pattern.png');
  background: rgb(0, 0, 0) transparent;
}

.panel-with-margin{
  margin: 20px 0;
}

#footer{
  background-color: #222222;
  border-top: 1px solid #000;
  height: 150px;
  padding: 30px 0;
  text-align: center;
  color: #fff;
}

#footer .developer-name{
  color: #5bc0de;
}

.img-center{
  margin: 0 auto;
}

.img-shadow{
  box-shadow: 0 0 2px 0px #000;
}

#newMarkerForm .error{
  color: red;
}

.pac-container{
  background-color: #FFF;
  z-index: 20;
  position: fixed;
  display: inline-block;
  float: left;
}

.modal{
  z-index: 20;   
}

.modal-backdrop{
  z-index: 10;
}