@font-face {
    font-family: 'adventure';
    src: asset-url('adventure.eot');
    src: asset-url('adventure.eot?#iefix') format('embedded-opentype'),
           asset-url('adventure.ttf') format('truetype'),
           asset-url('adventure.svg#adventure') format('svg');
    font-weight: normal;
    font-style: normal;
}