<!DOCTYPE html>
<html>
  <head>
    <title>Smart Adventurer</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= yield :stylesheets %>
    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDbtE4TtVIRgCXErSiKAzz9yBA-z_452OU&libraries=places' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :top_javascripts %>
    <%= csrf_meta_tags %>
  </head>

  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">  
    <%= render partial: 'partials/navbar' %>
    <%= yield %>   
    <%= yield :bottom_javascripts %> 
    <%= js add_gritter(notice, :image => :success, :title => 'Success', :sticky => true) if notice %>
    <%= js add_gritter(alert, :image => :warning, :title => 'Warning', :sticky => true) if alert %>
  </body>
</html>